.project {
  position: relative;
  width: 800px;
  height: 70px;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.203436);
  background: #FDFDFD;
}

.project-icon {
  position: absolute;
  left: 24px;
  top: 20px;
  height: 32px;
}

.project-input {
  position: absolute;
  width: 186px;
  height: 30px;
  right: 533px;
  top: 21px;
  background: #FFFFFF;
  border: 1px solid #40A9FF;
  border-radius: 2px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  font-size: 16px;
  text-indent: 14px;

  color: rgba(0, 0, 0, 0.7);
}

.project-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
