.project {
  position: relative;
  width: 800px;
  height: 70px;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.203436);
  background: #FDFDFD;
}

.project:first-child {
  border-top: 0.5px solid rgba(0, 0, 0, 0.203436);
}

.project-icon {
  position: absolute;
  left: 24px;
  top: 20px;
  height: 32px;
}

.project-title{
  margin: 0;
  position: absolute;
  height: 30px;
  left: 80px;
  top: 22px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  font-size: 20px;

  color: rgba(0, 0, 0, 0.7);
}

.edit-icon {
  position: absolute;
  height: 24px;
  left: 220px;
  top: 25px;
}

.date {
  margin: 0;
  position: absolute;
  height: 24px;
  left: 435px;
  top: 22px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  font-size: 14px;

  color: rgba(0, 0, 0, 0.5);
}

.delete-icon {
  position: absolute;
  width: 24px;
  right: 32px;
  top: 24px;
}

.project-input {
  position: absolute;
  width: 186px;
  height: 30px;
  right: 533px;
  top: 21px;
  background: #FFFFFF;
  border: 1px solid #40A9FF;
  border-radius: 2px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  font-size: 16px;
  text-indent: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.project-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
