.project-adder {
  position: absolute;
  right: 12.6%;
  top: -30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;

  background: #4A475F;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.plus-sign {
  position: absolute;
  top: 21px;
  left: 21px;
}

